<%namespace name="y" file="helper.tmpl"/>

<%include file="${Project.clientLicense}"/>
#ifndef __${y.cPREFIX()}_${Object.name.upper()}_H__
#define __${y.cPREFIX()}_${Object.name.upper()}_H__

#include "${y.cprefix()}-connection.h"
${y.depObjectIncludes(Object)}

G_BEGIN_DECLS

#define ${y.cPREFIX()}_TYPE_${Object.name.upper()}            (${y.cprefix()}_${Object.name.lower()}_get_type())
#define ${y.cPREFIX()}_${Object.name.upper()}(obj)            (G_TYPE_CHECK_INSTANCE_CAST ((obj), ${y.cPREFIX()}_TYPE_${Object.name.upper()}, ${y.cPrefix()+Object.name}))
#define ${y.cPREFIX()}_${Object.name.upper()}_CONST(obj)      (G_TYPE_CHECK_INSTANCE_CAST ((obj), ${y.cPREFIX()}_TYPE_${Object.name.upper()}, ${y.cPrefix()+Object.name} const))
#define ${y.cPREFIX()}_${Object.name.upper()}_CLASS(klass)    (G_TYPE_CHECK_CLASS_CAST ((klass),  ${y.cPREFIX()}_TYPE_${Object.name.upper()}, ${y.cPrefix()+Object.name}Class))
#define ${y.cPREFIX()}_IS_${Object.name.upper()}(obj)         (G_TYPE_CHECK_INSTANCE_TYPE ((obj), ${y.cPREFIX()}_TYPE_${Object.name.upper()}))
#define ${y.cPREFIX()}_IS_${Object.name.upper()}_CLASS(klass) (G_TYPE_CHECK_CLASS_TYPE ((klass),  ${y.cPREFIX()}_TYPE_${Object.name.upper()}))
#define ${y.cPREFIX()}_${Object.name.upper()}_GET_CLASS(obj)  (G_TYPE_INSTANCE_GET_CLASS ((obj),  ${y.cPREFIX()}_TYPE_${Object.name.upper()}, ${y.cPrefix()+Object.name}Class))

typedef struct _${y.cPrefix()+Object.name}        ${y.cPrefix()+Object.name};
typedef struct _${y.cPrefix()+Object.name}Class   ${y.cPrefix()+Object.name}Class;
typedef struct _${y.cPrefix()+Object.name}Private ${y.cPrefix()+Object.name}Private;

struct _${y.cPrefix()+Object.name}
{
	GObject parent;

	/*< private >*/
	${y.cPrefix()+Object.name}Private *priv;
};

struct _${y.cPrefix()+Object.name}Class
{
	GObjectClass parent_class;
};

GType ${y.cprefix()}_${Object.name.lower()}_get_type (void) G_GNUC_CONST;
% if Object.id in ('gint',):
gint ${y.cprefix()}_${Object.name.lower()}_get_id (${y.cPrefix()+Object.name} *${Object.name.lower()}) G_GNUC_PURE;
% else:
const gchar* ${y.cprefix()}_${Object.name.lower()}_get_id (${y.cPrefix()+Object.name} *${Object.name.lower()}) G_GNUC_PURE;
% endif
${y.cPrefix()}Connection* ${y.cprefix()}_${Object.name.lower()}_get_connection (${y.cPrefix()+Object.name} *${Object.name.lower()}) G_GNUC_PURE;
% for method in Project.methods['connection']:
% if method.name.startswith(Object.name.lower()):
${method.writeObject(header=True)}
% endif
% endfor

G_END_DECLS

#endif /* __${y.cPREFIX()}_${Object.name.upper()}_H__ */
